card-prestador {
    .card {
        border-radius: 2px;
        border-radius: 5px;
        background: #404040;
        box-shadow: none;
    }
    .item {
        background: #404040;
    }
    h2{
        color:white;
    }
    .card h2 {
        color: white;
    }
    .card p {
        color: white;
    }
}
