<!-- Generated template for the CardPrestadorComponent component -->
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img [src]="pessoa?.imagem?.url">
    </ion-avatar>
    <h2>{{pessoa.nome}}</h2>
  </ion-item>

  <img src="img/advance-card-bttf.png">

  <ion-card-content>
    <p *ngIf="pessoa.prestador">{{eatWords(pessoa.prestador.descricao)}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear (click)="abrirInfo()">
        <ion-icon name="information-circle"></ion-icon>
        <div>Informações</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear (click)="ligar()">
        <ion-icon name="call"></ion-icon>
        <div>Ligar</div>
      </button>
    </ion-col>
    
    <ion-col>
      <button ion-button icon-right clear (click)="abrirActionSheet()">
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

</ion-card>